<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add new pet</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" method="post" ng-submit="addPet()" name="addForm">
        <div class="form-group" ng-class="{ 'has-success' : addForm.showName.$valid && addForm.showName.$dirty, 'has-error' : addForm.showName.$invalid && addForm.showName.$dirty }">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Name of the pet" ng-model="name">
          </div>
        </div>

        <div class="form-group">
          <label for="placeDescription" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="description" ng-model="description"></textarea>
          </div>
        </div>

         <div class="form-group">
          <label for="species" class="col-sm-2 control-label">Species</label>
          <div class="col-sm-3">
          <select class="form-control" id="species" ng-model="species">
            <option>Dog</option>
            <option>Kitty</option>
            <option>Ferret</option>
            <option>Cathy Perry</option>
          </select>
          </div>
        </div>

         <div class="form-group">
          <label for="size" class="col-sm-2 control-label">Size</label>
          <div class="col-sm-3">
            <select class="form-control" id="size" ng-model="size">
            <option>Very Small</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            <option>Very Large</option>
          </select>
          </div>
        </div>

         <div class="form-group">
          <label for="location" class="col-sm-2 control-label">Location</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="location" placeholder="Aproximate location" ng-model="location">
          </div>
        </div>
        <div class='form-group'>
          <label for="location" class="col-sm-2 control-label">Add pictures</label>
          <div class="col-sm-10">
            <input type="file" nv-file-select uploader="pictures" accept='images/*'><br/>
        <ul>
            <li ng-repeat="item in pictures.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
            </li>
        </ul>
        </div>
        <button type="submit" ng-disabled="addForm.$invalid"
          class="btn btn-lg btn-primary pull-right">Add pet
        </button>
      </form>
    </div>
  </div>
</div>