<style>
      #map-canvas {
        height: 400px;
        margin: 0px;
        padding: 0px
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
}

    </style>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add new location</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" method="post" ng-submit="addPlace()" name="addForm">
        <div class="form-group" ng-class="{ 'has-success' : addForm.showName.$valid && addForm.showName.$dirty, 'has-error' : addForm.showName.$invalid && addForm.showName.$dirty }">
          <label for="placeName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Name of the place" ng-model="name">
          </div>
        </div>
        <div class="form-group">
          <label for="placeDescription" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="description" ng-model="description"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          <label class="control-label">Schedule</label>
          </div>
          <div class="col-md-2 col-xs-5">
            <input type="text" class="form-control" placeholder="Time open" ng-model:"timeOpen">
          </div>
          <div class="col-md-2 col-xs-5">
            <input type="text" class="form-control" placeholder="Time close" ng-model:"timeClose">
          </div>
        </div>
        <div class="row" style="padding-top:10px;">
          <div class="col-md-1 col-md-offset-1">
            <label class="control-label">Location</label>
          </div>
          <div class="col-md-8">
            <input id="pac-input" class="controls" type="text" placeholder="Search">
            <div id="map-canvas">
            </div>
          </div>
        </div>
        <button type="button" ng-click="addPlace()" ng-disabled="addForm.$invalid"
          class="btn btn-lg btn-primary pull-right">Add location
        </button>
      </form>
    </div>
  </div>
</div>
