<div class="container">
  <div class="panel panel-default">
   <div class="panel-heading">
    Current locations
    <a class="btn btn-primary pull-right btn-sm btn-info" href="#/addReview" style="position: relative; bottom:6px;" ng-show="currentUser">Review this place</a>
    <a class="btn btn-danger pull-right btn-sm btn-info" href="#/login" style="position: relative; bottom:6px;" ng-show="!currentUser">Log in to add new place</a>

  </div>
  <div class="panel-body">
    <div class="media">
      <div class="pull-left">
        

        </div>
      </div>
      <div class="media-body">
        <h2 class="media-heading">
          {{place.name}}
        </h2>
        <p>{{place.description}}</p>
      </div>
    </div>
  </div>
</div>
</div>
