<!--<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
    </div>
  </div>
</div>-->
<div class="container">
  	<div class="panel panel-default">
  		<div class="panel-heading">
  				Current locations
  				<a class="btn btn-primary pull-right btn-sm btn-info" href="#/addPlace" style="position: relative; bottom:6px;" ng-show="currentUser">Add new place</a>
  				<a class="btn btn-danger pull-right btn-sm btn-info" href="#/login" style="position: relative; bottom:6px;" ng-show="!currentUser">Log in to add new place</a>
  			
  		</div>
    	<div class="panel-body">
			<div id="map_canvas">
		    	<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
		        	<ui-gmap-markers models="pMarkers" coords="'self'" icon="'icon'" click="'onClick'">
		        		<ui-gmap-windows show="show">
			                <div ng-non-bindable>
			                	<div class="map-popup">
				                	<strong>{{title}}</strong>
				                	<div class="infoWindowContent">
				                		{{content}}
				               			<br>
				                		<a href="{{link}}">Review</a>
				                	</div>
								</div>
			                </div>
			            </ui-gmap-windows>
		        	</ui-gmap-markers>
		    	</ui-gmap-google-map>
		    	<!--<google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events" options="map.options" pan="true" control="map.control">
		    		<markers models="sites" coords="'self'" click="'onClicked'">
		    			<windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
		    				<p ng-non-bindable style="width:200px">{{ options.title }}</p>
		    				<p ng-non-bindable>{{ latitude | number:4 }}, {{ longitude | number:4 }}</p>
		    			</windows>
		    		</markers>
		    	</google-map>-->
			</div>
		</div>
	</div>
</div>

<style>
div.map-popup {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
</style>