<link href="stylesheets/product-style.css" rel="stylesheet" />
<style>
div#container{
  top: 50px;
}
</style>
<script>


$(".carousel-control, .product-tabs li>a").click(function(e){
  e.preventDefault();
});
</script>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5">
          <div id="itemsingle" class="carousel slide clearfix">
            
            <div class="carousel-inner">
              <div class="item active">
                <img src="images/doggie.jpg" alt="slider detail dodolan manuk">
              </div>
              <div class="item">
                <img src="images/doggie.jpg" alt="slider detail dodolan manuk">
              </div>
              <div class="item">
                <img src="images/slide1.jpg" alt="slider detail dodolan manuk">
              </div>
            </div>
            
            <ol class="carousel-indicators">
              <li data-target="#itemsingle" data-slide-to="0" class="active"><img src="images/doggie.jpg" class="img-responsive" alt="slider detail dodolan manuk"></li>
              <li data-target="#itemsingle" data-slide-to="1" class=""><img src="images/doggie.jpg" class="img-responsive" alt="slider detail dodolan manuk"></li>
              <li data-target="#itemsingle" data-slide-to="2" class=""><img src="images/slide1.jpg" class="img-responsive" alt="slider detail dodolan manuk"></li>
            </ol>
            
          </div>
        </div>
        <div class="col-md-7 col-sm-7">
          <h3>{{pet.name}}</h3>
          <p>{{pet.description}}</p>
          <p><strong>Size: </strong>{{pet.size}}</p>
          <p><a href="#" class="btn btn-primary btn-success">Adopt now</a></p>
        </div>
      </div>

      <!-- begin:tab -->
      <div class="row">
        <div class="col-md-12 product-tabs">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#related" data-toggle="tab">Related Items</a></li>
            <li class=""><a href="#comments" data-toggle="tab">Comments</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="related">
              <div class="row">
                <ul class="thumbnails list-unstyled">
                  <li class="col-md-2 col-sm-2">
                    <div class="thumbnail">
                      <a href="detail.html"><img src="img/manuk.jpg" class="img-responsive" alt="detail dodolan manuk"></a>
                      <div class="caption-details">
                        <h5>Border Canary</h5>
                        <span class="price">$200</span>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-2 col-sm-2">
                    <div class="thumbnail">
                      <a href="detail.html"><img src="img/manuk.jpg" class="img-responsive" alt="detail dodolan manuk"></a>
                      <div class="caption-details">
                        <h5>Border Canary</h5>
                        <span class="price">$200</span>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-2 col-sm-2">
                    <div class="thumbnail">
                      <a href="detail.html"><img src="img/manuk.jpg" class="img-responsive" alt="detail dodolan manuk"></a>
                      <div class="caption-details">
                        <h5>Border Canary</h5>
                        <span class="price">$200</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="comments">
              <div class='row' align ="center"><div class="fb-like" data-href="http://localhost:3000/petDetail/{{pet._id}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></div>
              <div class='row' align ="center"><div class="fb-comments" data-href="http://localhost:3000/petDetail/{{pet._id}}" data-numposts="5" data-colorscheme="light" ></div></div>
            </div>
          </div>

        </div>
      </div>
      <!-- end:tab -->
    </div>
  </div>
</div>

<!-- end:product-content -->
